* {
  margin: 0;
  padding: 0;
}
.App .Header {
  background-color: #383838;
	position: fixed;
	justify-content: space-between;
	width: 100%;
  height: 50px;
	z-index: 99;
}

.App .Container {
  padding: 50px 0;
  background-color: #424242;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App .Container .songcard {
  border: solid 1px black;
  width: 300px;
  margin: 10px 5px;
  padding: 10px;
  display: inline;
  overflow: hidden;
}

.App .Container .songcard .left {
  float: left;
  width: 105px;
  height: 100px;
}

.App .Container .songcard .left img {
  width: 100px;
  margin-right: 10px;
  background-image: url("");
}

.App .Container .songcard .right {
  size: 0.8em;
}

.App .Footer {
  background-color: #383838;
  position: fixed;
	justify-content: space-between;
	width: 100%;
  height: 50px;
  bottom: 0;
	z-index: 99;
}
